    :root {
        --primary-text-color: #2C2C2C;
        --primary-background-color: #FEFEFE;
        --dark-green-color: #7EB101;
        --button-green-color : #BBF330;
        --yellow-main-color: #FFE550;


        --tran-dur-and-tim-fun: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }