<section class="section customers-say">
  <div class="container">
    <div class="customers-say__inner">
      <h2 class="customers-say__title title">What our Customers Say</h2>
      <p class="customers-say__description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      </p>

      <!--Card-1-->
      <div class="testimonials-card">
        <ul class="testimonials-card__list">
          <li class="testimonials-card__item">
            <div class="testimonials-card__stars"></div>
          </li>
          <li class="testimonials-card__item">
            <p class="testimonials-card__description">
              “The Best app I have used to order food in a while, so many
              options to choose from too, I would recommend to a freind, No
              questions asked”
            </p>
          </li>
          <li class="testimonials-card__item">
            <div class="testimonials-card__info">
              <img class="testimonials-card__img" src="" alt="" />
              <p class="testimonials-card__name">Sumith Shah</p>
              <p class="testimonials-card__status">Some Dude</p>
            </div>
          </li>
        </ul>
      </div>

      <!--Card-2-->
      <div class="testimonials-card">
        <ul class="testimonials-card__list">
          <li class="testimonials-card__item">
            <div class="testimonials-card__stars"></div>
          </li>
          <li class="testimonials-card__item">
            <p class="testimonials-card__description">
              “The Best app I have used to order food in a while, so many
              options to choose from too, I would recommend to a freind, No
              questions asked”
            </p>
          </li>
          <li class="testimonials-card__item">
            <div class="testimonials-card__info">
              <img class="testimonials-card__img" src="/" alt="/" />
              <p class="testimonials-card__name">Sumith Shah</p>
              <p class="testimonials-card__status">Some Dude</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
