<section class="section customers-say">
  <div class="container">
    <div class="customers-say__inner">
      <h2 class="customers-say__title section-title">What our Customers Say</h2>
      <p class="customers-say__description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      </p>

      <div class="testimonials-card__inner">
        <!--Card-1-->
        <div class="testimonials-card">
          <ul class="testimonials-card__list list">
            <li class="testimonials-card__item">
              <div class="testimonials-card__stars">
                <!--Stars-1-->
                <svg
                  class="testimonials-card__svg-stars"
                  width="17"
                  height="16"
                >
                  <use href="./images/sprite.svg#icon-black-star"></use>
                </svg>
                <!--Stars-2-->
                <svg
                  class="testimonials-card__svg-stars"
                  width="17"
                  height="16"
                >
                  <use href="./images/sprite.svg#icon-black-star"></use>
                </svg>
                <!--Stars-3-->
                <svg
                  class="testimonials-card__svg-stars"
                  width="17"
                  height="16"
                >
                  <use href="./images/sprite.svg#icon-black-star"></use>
                </svg>
                <!--Stars-4-->
                <svg
                  class="testimonials-card__svg-stars"
                  width="17"
                  height="16"
                >
                  <use href="./images/sprite.svg#icon-black-star"></use>
                </svg>
                <!--Stars-5-->
                <svg
                  class="testimonials-card__svg-stars"
                  width="17"
                  height="16"
                >
                  <use href="./images/sprite.svg#icon-black-star"></use>
                </svg>
              </div>
            </li>
            <li class="testimonials-card__item">
              <p class="testimonials-card__description">
                “The Best app I have used to order food in a while, so many
                options to choose from too, I would recommend to a freind, No
                questions asked”
              </p>
            </li>
            <li class="testimonials-card__item">
              <div class="testimonials-card__info">
                <picture>
                  <source
                    srcset="
                      ./images/customers/avatar1(1x).png,
                      ./images/customers/avatar1(2x).png,
                      ./images/customers/avatar1(3x).png
                    "
                    media="(min-width: 320px)"
                  />
                  <img
                    class="testimonials-card__img"
                    src="./images/customers/avatar1(1x).png"
                    alt="testimonials avatar"
                    width="48"
                  />
                </picture>
                <div class="testiomonials-card__info-text">
                  <p class="testimonials-card__name">Sumith Shah</p>
                  <p class="testimonials-card__status">Some Dude</p>
                </div>
              </div>
            </li>
          </ul>
        </div>

        <!--Card-2-->
        <div class="testimonials-card">
          <ul class="testimonials-card__list list">
            <li class="testimonials-card__item">
              <div class="testimonials-card__stars">
                <!--Stars-1-->
                <svg
                  class="testimonials-card__svg-stars"
                  width="17"
                  height="16"
                >
                  <use href="./images/sprite.svg#icon-black-star"></use>
                </svg>
                <!--Stars-2-->
                <svg
                  class="testimonials-card__svg-stars"
                  width="17"
                  height="16"
                >
                  <use href="./images/sprite.svg#icon-black-star"></use>
                </svg>
                <!--Stars-3-->
                <svg
                  class="testimonials-card__svg-stars"
                  width="17"
                  height="16"
                >
                  <use href="./images/sprite.svg#icon-black-star"></use>
                </svg>
                <!--Stars-4-->
                <svg
                  class="testimonials-card__svg-stars"
                  width="17"
                  height="16"
                >
                  <use href="./images/sprite.svg#icon-black-star"></use>
                </svg>
                <!--Stars-5-->
                <svg
                  class="testimonials-card__svg-stars"
                  width="17"
                  height="16"
                >
                  <use href="./images/sprite.svg#icon-black-star"></use>
                </svg>
              </div>
            </li>
            <li class="testimonials-card__item">
              <p class="testimonials-card__description">
                “The Best app I have used to order food in a while, so many
                options to choose from too, I would recommend to a freind, No
                questions asked”
              </p>
            </li>
            <li class="testimonials-card__item">
              <div class="testimonials-card__info">
                <picture>
                  <source
                    srcset="
                      ./images/customers/avatar2(1x).png,
                      ./images/customers/avatar2(2x).png,
                      ./images/customers/avatar2(3x).png
                    "
                    media="(min-width: 320px)"
                  />
                  <img
                    class="testimonials-card__img"
                    src="./images/customers/avatar2(1x).png"
                    alt="testimonials avatar"
                    width="48"
                  />
                </picture>
                <div class="testiomonials-card__info-text">
                  <p class="testimonials-card__name">Sumith Shah</p>
                  <p class="testimonials-card__status">Some Dude</p>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
