<section class="section customers-say">
  <div class="container customers-say-container">
    <div class="customers-say__inner">
      <h2 class="customers-say__title section-title" id="customers">What our Customers Say</h2>
      <p class="customers-say__description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      </p>
      <div class="testimonials-card__inner">
        <!--Card-1-->
        <div class="testimonials-card">
              <ul class="testimonials-card__stars">
                <li><svg
                  class="testimonials-card__svg-stars"
                  width="17"
                  height="16"
                >
                  <use href="./images/sprite.svg#icon-black-star"></use>
                </svg></li>
                
                <li> <svg
                  class="testimonials-card__svg-stars"
                  width="17"
                  height="16"
                >
                  <use href="./images/sprite.svg#icon-black-star"></use>
                </svg></li>
               
                <li><svg
                  class="testimonials-card__svg-stars"
                  width="17"
                  height="16"
                >
                  <use href="./images/sprite.svg#icon-black-star"></use>
                </svg></li>
                
                <li><svg
                  class="testimonials-card__svg-stars"
                  width="17"
                  height="16"
                >
                  <use href="./images/sprite.svg#icon-black-star"></use>
                </svg></li>
                
                <li><svg
                  class="testimonials-card__svg-stars"
                  width="17"
                  height="16"
                >
                  <use href="./images/sprite.svg#icon-black-star"></use>
                </svg></li>
                
              </ul>
            <p class="testimonials-card__description">
                “The Best app I have used to order food in a while, so many options to choose from too, I would recommend to a freind,
                No questions asked”
            </p>
              <div class="testimonials-card__info">
                <picture>
                  <source
                    srcset="
                      ./images/customers/avatar1-1x.webp,
                      ./images/customers/avatar1-@2x.webp
                    "
                    media="(min-width: 320px)"
                    type="image/webp"
                  />
                  <source
                    srcset="
                      ./images/customers/avatar1-1x.png,
                      ./images/customers/avatar1-@2x.png
                    "
                    media="(min-width: 320px)"
                  />
                  <img
                    class="testimonials-card__img"
                    src="./images/customers/avatar1-1x.png"
                    alt="testimonials avatar"
                    width="48"
                  />
                </picture>
                <div class="testiomonials-card__info-text">
                  <p class="testimonials-card__name">Sumith Shah</p>
                  <p class="testimonials-card__status">Some Dude</p>
                </div>
            </div>
        </div>
        <!--Card-2-->
        <div class="testimonials-card">
          <ul class="testimonials-card__stars">
            <li><svg class="testimonials-card__svg-stars" width="17" height="16">
                <use href="./images/sprite.svg#icon-black-star"></use>
              </svg></li>
          
            <li> <svg class="testimonials-card__svg-stars" width="17" height="16">
                <use href="./images/sprite.svg#icon-black-star"></use>
              </svg></li>
          
            <li><svg class="testimonials-card__svg-stars" width="17" height="16">
                <use href="./images/sprite.svg#icon-black-star"></use>
              </svg></li>
          
            <li><svg class="testimonials-card__svg-stars" width="17" height="16">
                <use href="./images/sprite.svg#icon-black-star"></use>
              </svg></li>
          
            <li><svg class="testimonials-card__svg-stars" width="17" height="16">
                <use href="./images/sprite.svg#icon-black-star"></use>
              </svg></li>
          
          </ul>
          <p class="testimonials-card__description">
            “The ease with which I can just go in and order what i want was amazing, It has been a very pleasant experience ordering
            from this app”
          </p>
              <div class="testimonials-card__info">
                <picture>
                  <source
                    srcset="
                      ./images/customers/avatar2-1x.webp,
                      ./images/customers/avatar2-@2x.webp
                    "
                    media="(min-width: 320px)"
                    type="image/webp"
                  />
                  <source
                    srcset="
                      ./images/customers/avatar2-1x.png,
                      ./images/customers/avatar2-@2x.png
                    "
                    media="(min-width: 320px)"
                  />
                  <img
                    class="testimonials-card__img"
                    src="./images/customers/avatar2-1x.png"
                    alt="testimonials avatar"
                    width="48"
                  />
                </picture>
                <div class="testiomonials-card__info-text">
                  <p class="testimonials-card__name">Sumith Shah</p>
                  <p class="testimonials-card__status">Some Dude</p>
                </div>
              </div>
        </div>
      </div>
    </div>
  </div>
</section>
