<section class="favorites-section section">
    <div class="container">
    <h2 class="favorites-title">Some of Our Favorites</h2>
    <p class="favorites-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    <ul class="favorites-list">
        <li class="favorites-list__item list">
            <span class="favorites-list__image-wrapper">
            <picture>
              <source
                media="(min-width: 1280px)"
                srcset="./images/big/webp/gamburger.webp 1x, ./images/big/webp/gamburger@2x.webp  2x"
                type="image/webp"
              />
              <source
                media="(min-width: 1280px)"
                srcset="./images/big/gamburger.png 1x, ./images/big/gamburger@2x.png 2x"
              />
              <source
                media="(min-width: 768px)"
                srcset="./images/tablet/webp/gamburger.webp 1x, ./images/tablet/webp/gamburger@2x.webp 2x"
                type="image/webp"
              />
              <source
                media="(min-width: 768px)"
                srcset="./images/tablet/gamburger.png 1x, ./images/tablet/gamburger@2x.png 2x"
              />
              <source
                media="(max-width: 767px)"
                srcset="./images/mobile/webp/gamburger.webp 1x, ./images/mobile/webp/gamburger@2x.webp 2x"
                type="image/webp"
              />
              <source
                media="(max-width: 767px)"
                srcset="./images/mobile/gamburger.png 1x, ./images/mobile/gamburger@2x.png 2x"
              />
              <img src="./images/big/gamburger.png" alt=""/>
            </picture>
            </span>
        </li>
        <li class="favorites-list__item list">
            <span class="favorites-list__image-wrapper">
            <picture>
              <source
                media="(min-width: 1280px)"
                srcset="./images/big/webp/pasta.webp 1x, ./images/big/webp/pasta@2x.webp  2x"
                type="image/webp"
              />
              <source
                media="(min-width: 1280px)"
                srcset="./images/big/pasta.png 1x, ./images/big/pasta@2x.png 2x"
              />
              <source
                media="(min-width: 768px)"
                srcset="./images/tablet/webp/pasta.webp 1x, ./images/tablet/webp/pasta@2x.webp 2x"
                type="image/webp"
              />
              <source
                media="(min-width: 768px)"
                srcset="./images/tablet/pasta.png 1x, ./images/tablet/pasta@2x.png 2x"
              />
              <source
                media="(max-width: 767px)"
                srcset="./images/mobile/webp/pasta.webp 1x, ./images/mobile/webp/pasta@2x.webp 2x"
                type="image/webp"
              />
              <source
                media="(max-width: 767px)"
                srcset="./images/mobile/pasta.png 1x, ./images/mobile/pasta@2x.png 2x"
              />
              <img src="./images/big/pasta.png" alt=""/>
            </picture>
            </span>
        </li>
        <li class="favorites-list__item list">
            <span class="favorites-list__image-wrapper">
            <picture>
              <source
                media="(min-width: 1280px)"
                srcset="./images/big/webp/pizza.webp 1x, ./images/big/webp/pizza@2x.webp  2x"
                type="image/webp"
              />
              <source
                media="(min-width: 1280px)"
                srcset="./images/big/pizza.png 1x, ./images/big/pizza@2x.png 2x"
              />
              <source
                media="(min-width: 768px)"
                srcset="./images/tablet/webp/pizza.webp 1x, ./images/tablet/webp/pizza@2x.webp 2x"
                type="image/webp"
              />
              <source
                media="(min-width: 768px)"
                srcset="./images/tablet/pizza.png 1x, ./images/tablet/pizza@2x.png 2x"
              />
              <source
                media="(max-width: 767px)"
                srcset="./images/mobile/webp/pizza.webp 1x, ./images/mobile/webp/pizza@2x.webp 2x"
                type="image/webp"
              />
              <source
                media="(max-width: 767px)"
                srcset="./images/mobile/pizza.png 1x, ./images/mobile/pizza@2x.png 2x"
              />
              <img src="./images/big/pizza.png" alt=""/>
            </picture>
            </span>
        </li>
        <li class="favorites-list__item list">
            <span class="favorites-list__image-wrapper">
            <picture>
              <source
                media="(min-width: 1280px)"
                srcset="./images/big/webp/chicken.webp 1x, ./images/big/webp/chicken@2x.webp  2x"
                type="image/webp"
              />
              <source
                media="(min-width: 1280px)"
                srcset="./images/big/chicken.png 1x, ./images/big/chicken@2x.png 2x"
              />
              <source
                media="(min-width: 768px)"
                srcset="./images/tablet/webp/chicken.webp 1x, ./images/tablet/webp/chicken@2x.webp 2x"
                type="image/webp"
              />
              <source
                media="(min-width: 768px)"
                srcset="./images/tablet/chicken.png 1x, ./images/tablet/chicken@2x.png 2x"
              />
             
              <img src="./images/big/chicken.png" alt=""/>
            </picture>
            </span>
        </li>
        <li class="favorites-list__item list">
            <span class="favorites-list__image-wrapper">
            <picture>
              <source
                media="(min-width: 1280px)"
                srcset="./images/big/webp/salat.webp 1x, ./images/big/webp/salat@2x.webp  2x"
                type="image/webp"
              />
              <source
                media="(min-width: 1280px)"
                srcset="./images/big/salat.png 1x, ./images/big/salat@2x.png 2x"
              />
              <source
                media="(min-width: 768px)"
                srcset="./images/tablet/webp/salat.webp 1x, ./images/tablet/webp/salat@2x.webp 2x"
                type="image/webp"
              />
              <source
                media="(min-width: 768px)"
                srcset="./images/tablet/salat.png 1x, ./images/tablet/salat@2x.png 2x"
              />
              
              <img src="./images/big/salat.png" alt=""/>
            </picture>
            </span>
        </li>
        <li class="favorites-list__item list">
            <span class="favorites-list__image-wrapper">
            <picture>
              <source
                media="(min-width: 1280px)"
                srcset="./images/big/webp/borshch.webp 1x, ./images/big/webp/borshch@2x.webp  2x"
                type="image/webp"
              />
              <source
                media="(min-width: 1280px)"
                srcset="./images/big/borshch.png 1x, ./images/big/borshch@2x.png 2x"
              />
              <source
                media="(min-width: 768px)"
                srcset="./images/tablet/webp/borshch.webp 1x, ./images/tablet/webp/borshch@2x.webp 2x"
                type="image/webp"
              />
              <source
                media="(min-width: 768px)"
                srcset="./images/tablet/borshch.png 1x, ./images/tablet/borshch@2x.png 2x"
              />
              
              <img src="./images/big/borshch.png" alt=""/>
            </picture>
            </span>
        </li>
    </ul>
    </div>
</section>