<header class="header">
  <div class="container">
    <div class="header--flex">
      <nav class="nav--flex">
        <!-- logo -->
        <a class="logo__box" href="">
          <svg class="logo__icon">
            <use href="./images/sprite.svg#logo-foodsta"></use>
          </svg>
        </a>
  
        <!-- MENU -->
        <ul class="menu-list">
          <li class="menu-list__item">
            <a class="menu-list__link" href="">Home</a>
          </li>
          <li class="menu-list__item">
            <a class="menu-list__link" href="">About</a>
          </li>
          <li class="menu-list__item">
            <a class="menu-list__link" href="">Service</a>
          </li>
          <li class="menu-list__item">
            <a class="menu-list__link" href="">Menu</a>
          </li>
          <li class="menu-list__item">
            <a class="menu-list__link" href="">Contact</a>
          </li>
        </ul>

        <!-- MOBILE MENU -->
        <div class="mobile-menu">
          <!-- btn burger -->
          <button class="button--burger" type="button" data-mobile-open>
            <svg class="button--burger__icon">
              <use href="./images/sprite.svg#btn_burger"></use>
            </svg>
          </button>
  
          <!-- mob menu -->
          <ul class="mobile-menu-nav-list" data-mobile-menu>
            <li>
              <a class="mobile-menu-nav-list__link" href="#hero">Home</a>
            </li>
            <li>
              <a class="mobile-menu-nav-list__link" href="#offerings">About</a>
            </li>
            <li>
              <a class="mobile-menu-nav-list__link" href="#customers">Service</a>
            </li>
            <li>
              <a class="mobile-menu-nav-list__link" href="#favorites">Menu</a>
            </li>
            <li>
              <a class="mobile-menu-nav-list__link" href="#subscribe">Contact</a>
            </li>
          </ul>
        </div>
      </nav>
      
      <!-- BUTTON ORDER NOW -->
      <button class="button--order-now--header" type="button" data-modal-open>Order now
      </button>

    </div>
  </div>
</header>
