<section class="section section-hero">
  <div class="container container-hero">
    <div class="container__text">
      <h1 class="section-title section-hero__title" id="hero">
        Enjoy Your Favorite Food From Anywhere
      </h1>

      <p class="section-hero__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
        varius enim in eros elementum tristique. Duis cursus, mi quis viverra
        ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.
      </p>

      <button type="button" class="button-primary section-hero__button">Order Now</button>
    </div>


    <div class="salat-slider">
      <div class="salat-slider_img">
        <picture>
            <source
              media="(min-width: 1280px)"
              srcset="
                ./images/hero/hero-1-lg.webp    1x,
                ./images/hero/hero-1-lg@2x.webp 2x
              "
              type="image/webp"
            />

            <source
              media="(min-width: 1280px)"
              srcset="
                ./images/hero/hero-1-lg.png    1x,
                ./images/hero/hero-1-lg@2x.png 2x
              "
            />

            <source
              media="(min-width: 768px)"
              srcset="
                ./images/hero/hero-1-md.webp    1x,
                ./images/hero/hero-1-md@2x.webp 2x
              "
              type="image/webp"
            />

            <source
              media="(min-width: 768px)"
              srcset="
                ./images/hero/hero-1-md.png    1x,
                ./images/hero/hero-1-md@2x.png 2x
              "
            />

            <img src="./images/hero/hero-1-md.png" alt="Портрет человека" />
          </picture>
        </div>
      <div class="salat-slider_img">
        <picture>
            <source
              media="(min-width: 1280px)"
              srcset="
                ./images/hero/hero-2-lg.webp    1x,
                ./images/hero/hero-2-lg@2x.webp 2x
              "
              type="image/webp"
            />

            <source
              media="(min-width: 1280px)"
              srcset="
                ./images/hero/hero-2-lg.png    1x,
                ./images/hero/hero-2-lg@2x.png 2x
              "
            />

            <source
              media="(min-width: 768px)"
              srcset="
                ./images/hero/hero-2-md.webp    1x,
                ./images/hero/hero-2-md@2x.webp 2x
              "
              type="image/webp"
            />

            <source
              media="(min-width: 768px)"
              srcset="
                ./images/hero/hero-2-md.png    1x,
                ./images/hero/hero-2-md@2x.png 2x
              "
            />

            <img src="./images/hero/hero-2-md.png" alt="Портрет человека" />
          </picture></div>
      <div class="salat-slider_img">
        <picture>
            <source
              media="(min-width: 1280px)"
              srcset="
                ./images/hero/hero-3-lg.webp    1x,
                ./images/hero/hero-3-lg@2x.webp 2x
              "
              type="image/webp"
            />

            <source
              media="(min-width: 1280px)"
              srcset="
                ./images/hero/hero-3-lg.png    1x,
                ./images/hero/hero-3-lg@2x.png 2x
              "
            />

            <source
              media="(min-width: 768px)"
              srcset="
                ./images/hero/hero-3-md.webp    1x,
                ./images/hero/hero-3-md@2x.webp 2x
              "
              type="image/webp"
            />

            <source
              media="(min-width: 768px)"
              srcset="
                ./images/hero/hero-3-md.png    1x,
                ./images/hero/hero-3-md@2x.png 2x
              "
            />

            <img src="./images/hero/hero-3-md.png" alt="Портрет человека" />
          </picture>
        </div>
    </div>

  </div>
  
</section>
