    <!-- МОДАЛЬНЕ ВІКНО -->
    <div class="backdrop is-hidden" data-modal>
      <div class="modal flex">
        <button class="btn --close-modal" type="button" data-modal-close>
          <!-- <svg>
            <use href="./images/sprite.svg#icon-close"></use>
          </svg> -->
        </button>
        <span class="form-name"> Залишіть свої дані, ми вам передзвонимо </span>
        <div class="overflow">
          <form class="form">
            <label>
              <span class="form-lebel-element --name"> Ім'я </span>
              <span class="form-input__container --name">
                <input
                  class="form-input__field --name"
                  type="text"
                  name="name"
                  id=""
                  placeholder=""
                  required
                />
                <span class="icon">
                  <!-- <svg>
                    <use href="./images/sprite.svg#icon-person"></use>
                  </svg> -->
                </span>
              </span>
            </label>
            <label>
              <span class="form-lebel-element --phone"> Телефон </span>
              <span class="form-input__container --phone">
                <input
                  class="form-input__field --phone"
                  type="tel"
                  name="tel"
                  id=""
                  placeholder=""
                  required
                />
                <span class="icon">
                  <!-- <svg>
                    <use href="./images/sprite.svg#icon-phone"></use>
                  </svg> -->
                </span>
              </span>
            </label>
            <label>
              <span class="form-lebel-element --email"> Пошта </span>
              <span class="form-input__container --email">
                <input
                  class="form-input__field --email"
                  type="email"
                  name="amail"
                  id=""
                  placeholder=""
                  required
                />
                <span class="icon">
                  <!-- <svg>
                    <use href="../images/sprite.svg#icon-email"></use>
                  </svg> -->
                </span>
              </span>
            </label>
            <label>
              <span class="form-lebel-element --comment"> Коментар </span>
              <span class="form-input__container --comment">
                <textarea
                  class="form-input__field --comment"
                  name="coment"
                  id=""
                  placeholder="Введіть текст"
                >
  Тут має бути чийсь коментар але якщо це все очистити то буде вйдно "placeholder"</textarea
                >
              </span>
            </label>
            <button class="btn" type="submit">Відправити</button>
          </form>
        </div>
      </div>
    </div>