<section class="section section-offerings">
    <div class="container">
        <picture>
            <source media="(min-width: 1200px)" srcset="./images/team/team-1-lg.webp 1x, ./images/team/team-1-lg@2x.webp 2x"
                type="image/webp" />
            <source media="(min-width: 1200px)" srcset="./images/team/team-1-lg.jpg 1x, ./images/team/team-1-lg@2x.jpg 2x" />
            <source media="(min-width: 768px)" srcset="./images/team/team-1-md.webp 1x, ./images/team/team-1-md@2x.webp 2x"
                type="image/webp" />
            <source media="(min-width: 768px)" srcset="./images/team/team-1-md.jpg 1x, ./images/team/team-1-md@2x.jpg 2x" />
            <source media="(max-width: 767px)" srcset="./images/team/team-1-sm.webp 1x, ./images/team/team-1-sm@2x.webp 2x"
                type="image/webp" />
            <source media="(max-width: 767px)" srcset="./images/offerings/apple-sm.png 1x, 
            ./images/offerings/apple-sm@2x.png 2x" />
            <img src="./images/offerings/apple-sm.png" alt="Портрет человека" />

        </picture>
        <h2 class="visually-hidden">Offerings</h2>
        <h3 class="section-title">What’s Special About Our Offerings</h3>
        <p class="offerings-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis
        cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.</p>
        <ul class="offerings-list">
            <li class="offerings-list__item">
                <b>Fasest Delivery</b>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros.</p>
            </li >
            <li class="offerings-list__item">
                <b>Easy to order</b>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros.</p>
            </li>
        </ul>
        <button type="button">Order Now</button>
        <a href="#">Read More 
            <span>
                <svg class="">
                    <use></use>
                </svg>
            </span>
        </a>
    </div>
</section>