.section-offerings {
    background-color: transparent;
    padding-top: 41px;
    padding-bottom: 60px;
    
    @media screen and (min-width: 768px) {
        padding-top: 40px;
        padding-bottom: 100px;
    }
    
    @media screen and (min-width: 1280px) {
        padding-top: 18px;
        padding-bottom: 109px;
    }

    @media screen and (max-width: 767px) {
        background-color: var(--primary-background-color);
        background-image: url(../images/offerings/bgi-sm.svg);
        background-repeat: no-repeat;
        background-position: top;
        background-size: cover;
    }
}

.offerings-wraper {
    @media screen and (min-width: 1280px) {
        display: flex;
        align-items: flex-start;
    }
}

.offerings-apple-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin: 0 auto 60px;

    @media screen and (min-width: 1280px) {
        margin: 0 90px 0 0;
    }
}

.offerings-desc-wrapper {
padding-right: 6px;
@media screen and (min-width: 1280px){
    margin-top: 104px;
}
}

.apple-center,
.apple-right {
    margin-bottom: 67px;

    @media screen and (max-width: 767px ), (min-width: 1280px){
        display: none;
    }
}

.apple-center {
    margin-left: 29px;
    margin-right: 44px;
}

.offerings-title {
    @include font (28px, 700, 33px);
    margin-bottom: 28px;
    max-width: 526px;

    @media screen and (min-width: 768px) {
        margin-bottom: 20px;
        @include font (42px, 700, 50px);
    }

    @media screen and (min-width: 1280px) {
        margin-bottom: 20px;
        width: 530px;
    }
}

.offerings-desc {
    @include font (14px, 400, 16px);
    margin-bottom: 28px;

    @media screen and (min-width: 768px) {
        width: 500px;
        margin-bottom: 40px;
        @include font (16px, 400, 19px);
    }

    @media screen and (min-width: 1280px) {
        width: 500px;
        @include font (16px, 400, 23px);
    }

}

.offerings-list {
    margin-bottom: 28px;

    @media screen and (min-width: 768px) {
        margin-bottom: 40px;
        display: flex;
        column-gap: 116px;
    }

    @media screen and (min-width: 1280px) {
        margin-bottom: 34px;
        column-gap: 67px;
    }
}

.offerings-list__item {
    @media screen and (max-width: 767px) {
        margin-bottom: 28px;
    }

}

.offerings-list__item_delivery::before {
    content: "";
    background-image: url('../images/icon-deliv.svg');

    display: block;
    width: 48px;
    height: 48px;
    fill: currentColor;
    margin-bottom: 8px;

    @media screen and (min-width: 1280px) {
        margin-bottom: 10px;
    }
}

.offerings-list__item_order::before {
    content: "";
    background-image: url('../images/icon-order.svg');

    display: block;
    width: 48px;
    height: 48px;
    fill: currentColor;
    margin-bottom: 10px;

    @media screen and (min-width: 1280px) {
        margin-bottom: 10px;
    }
}

.offerings-list__item-title{
    @include font (18px, 700, 21px);
    margin-bottom: 16px;

    @media screen and (min-width: 1280px) {
        @include font (17px, 700, 24px);
        margin-bottom: 10px;
    }

}

.offerings-list__item-desc {
    @include font (14px, 400, 16px);
    padding-right: 18px;

    @media screen and (min-width: 768px) {
        width: 252px;
        padding-right: 0;
    }
    

    @media screen and (min-width: 1280px) {
        @include font (14px, 400, 21px);
    }
}

.offerings-button {
    margin-right: 21px;
    min-width: 130px;
    border: 2px solid #7EB101;
    background-color: var(--primary-background-color);

    @media screen and (min-width: 1280px) {
        min-width: 105px;
    }

    transition: border-color var(--tran-dur-and-tim-fun);
    
    &:hover,
    &:focus,
    &:active {
        border-color: #597D00;
    }
}

.offerings-link {
    @include font (14px, 400, 21px);

    @media screen and (min-width: 1280px) {
        display: none;
    }

    transition: color var(--tran-dur-and-tim-fun);

    &:hover,
    &:focus,
    &:active {
        color: #597D00;
    }

}

.offerings-link__icon {
    fill: currentColor;
    margin-left: 4px;
}